<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-left">
		<br />
		<h1>Code and Launch your Own Web Application</h1>
		<br />
		<h2>Technical Skills Courses from the best Startups in the country</h2>
		<br />
		<%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
		<br /><br />
	</div>
</div>

<br />
<div class="row feature text-center">
	<div class="col-12 col-md">
		<h3>Amazing Courses</h3>
		<br />
		<p>Choose from any number of courses to study with amazing teachers.</p>
	</div>

	<div class="col-12 col-md">
		<h3>Learn At Your Own Pace</h3>
		<br />
		<p>Enroll and access an archive of lessons.</p>
	</div>

	<div class="col-12 col-md">
		<h3>Join Our Community</h3>
		<br />
		<p>Learn with a community of like-minded individuals.</p>
	</div>
</div>